.button {
  position: absolute;
  width: 4vh;
  height: 4vh;
  background-color: #191919b3;
  color: #a09f9f;
  border: #444444 solid 1px;
  border-radius: 100%;
  cursor: pointer;
  bottom: 18vh;
  transition: 0.2s;
}

.button:hover {
  background-color: #232323b3;
}
