* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  gap: 1.5vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  touch-action: none;
  background-color: black;
}

.navigateTestButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
