.chatAndInt {
  margin-left: 20%;
  margin-top: 5%;
  width: 100vh;
}

.loginOrLogoutButton {
  margin-top: 1vh;
  width: 10vh;
  height: 5vh;
  font-size: 1.5vh;
  color: rgb(150, 150, 150);
  border-radius: 20px;
  border: rgb(55, 55, 55) solid 0.1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #1e1e1e;
  margin-left: 68%;
  cursor: pointer;
}
