.leftContainer {
  width: 28vw;
  height: 97vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 1.5vh 0 0 1.5vh;
  border: #444444 solid 1px;
  border-radius: 1vh;
}

.leftContainer::-webkit-scrollbar {
  display: none;
}

.buttonsContainer {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.boostyButton {
  display: flex;
  align-items: center;
  gap: 1vh;
  padding-left: 2vh;
  width: 26vw;
  max-width: 27vw;
  height: 5.5vh;
  max-height: 5.5vh;
  background-color: #000000;
  border: none;
  border-radius: 1vh;
  color: #7e7e7e;
  font-family: 'Jost Regular', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
  text-align: start;
}

.friendsButton {
  display: flex;
  align-items: center;
  gap: 1vh;
  padding-left: 2vh;
  width: 26vw;
  max-width: 27vw;
  height: 5.5vh;
  max-height: 5.5vh;
  background-color: black;
  border: none;
  border-radius: 1vh;
  color: #7e7e7e;
  text-align: start;
  font-family: 'Jost Regular', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
}
.icon {
  width: 3.4vh;
}

.settingsButton {
  display: flex;
  align-items: center;
  gap: 1vh;
  padding-left: 2vh;
  width: 26vw;
  max-width: 27vw;
  height: 5.5vh;
  max-height: 5.5vh;
  background-color: black;
  border: none;
  border-radius: 1vh;
  color: #7e7e7e;
  font-family: 'Jost Regular', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
  text-align: start;
}

.boostyButton:hover {
  background-color: #140617;
  color: #944fbf;
}

.friendsButton:hover {
  background-color: #140617;
  color: #944fbf;
}

.settingsButton:hover {
  background-color: #140617;
  color: #944fbf;
}

.hr {
  width: 28vw;
  height: 1px;
  background-color: #444444;
  margin-top: -1vh;
}
