.leftContainer {
  width: 28vw;
  height: 97vh;
  overflow: none;
  margin: 1.5vh 0 0 1.5vh;
  border: #444444 solid 1px;
  border-radius: 1vh;
}

.leftContainer::-webkit-scrollbar {
  display: none;
}

.buttonsContainer {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.boostyButton {
  display: flex;
  align-items: center;
  gap: 1vh;
  padding-left: 2vh;
  width: 26vw;
  max-width: 27vw;
  height: 6.5vh;
  max-height: 6.5vh;
  background-color: #000000;
  border: none;
  border-radius: 1vh;
  color: #7e7e7e;
  font-family: 'Jost Regular', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
  text-align: start;
}

.icon {
  width: 3.4vh;
}

.settingsButton {
  display: flex;
  align-items: center;
  gap: 1.5vh;
  padding-left: 2vh;
  width: 26vw;
  max-width: 27vw;
  height: 6.5vh;
  max-height: 6.5vh;
  background-color: black;
  border: none;
  border-radius: 1vh;
  color: #7e7e7e;
  font-family: 'Jost Regular', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
  text-align: start;
}

.settingsButtonActive {
  display: flex;
  align-items: center;
  gap: 1.5vh;
  padding-left: 2vh;
  width: 26vw;
  max-width: 27vw;
  height: 6.5vh;
  max-height: 6.5vh;
  border: none;
  border-radius: 1vh;
  background-color: #0d0d0d;
  color: #dcdcdc;
  font-family: 'Jost Regular', sans-serif;
  font-weight: 400;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.1s;
  text-align: start;
}

.boostyButton:hover {
  background-color: #0d0d0d;
  color: #dcdcdc;
}

.friendsButton:hover {
  background-color: #0d0d0d;
  color: #dcdcdc;
}

.settingsButton:hover {
  background-color: #0d0d0d;
  color: #dcdcdc;
}

.hr {
  width: 28vw;
  height: 1px;
  background-color: #242424;
  margin-top: 2vh;
}

.voiceSettingsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  height: 8vh;
  background-color: #0f0f0f;
  border-radius: 1vh;
}

.yourAvatar {
  margin-left: 2.15vw;
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  padding: 0.3vh;
  border: #34e134 solid 1.35px;
  cursor: pointer;
}

.usernameAndStatus {
  display: flex;
  flex-direction: column;
}

.subUsername {
  margin: 0;
  padding: 0;
  font-family: 'Jost Regular', sans-serif;
  font-size: 1.9vh;
  color: white;
}

.subStatus {
  margin: 0;
  padding: 0;
  font-family: 'Jost Regular', sans-serif;
  font-size: 1.55vh;
  color: #34e134;
  cursor: pointer;
}

.settingsIcon {
  cursor: pointer;
  width: 2.5vh;
}

.settingsIconAlt {
  cursor: pointer;
  width: 2.7vh;
}
