* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.testPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
  background-color: #111111;
  overflow: hidden;
}

.titleAndButtonContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12vh;
  margin: 5vh 0 0 20vh;
  width: 100%;
}

.mainTitle {
  font-family: 'Poppins Black', sans-serif;
  font-size: 17vh;
  color: transparent;
  -webkit-text-stroke: 1px #cdcdcd;
  transform: scaleX(1.35);
}

.buttonCreateRoom {
  width: 15vh;
  height: 15vh;
  font-size: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111111;
  font-family: 'Poppins ExtraLight', sans-serif;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}

.buttonCreateRoom:hover {
  transform: scale(1.05);
}

.subtitle {
  font-family: 'Poppins Black', sans-serif;
  font-size: 4vh;
  margin: -5vh 0 0 10vh;
  color: #ffffff;
}

.updateButton {
  margin: 0 0 0 10vh;
  color: #ffffff;
  font-family: 'Poppins Black', sans-serif;
  font-size: 2vh;
  border: none;
  border-radius: 1vh;
  padding: 0.5vh 1vh;
  background-color: #2f2f2f;
  cursor: pointer;
  transition: 0.15s;
}

.updateButton:hover {
  background-color: #383838;
}

.roomsList {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin: 3vh 0 0 10vh;
}

.roomContainer {
  display: flex;
  gap: 0.5vh;
}

.roomId {
  font-family: 'Poppins Black', sans-serif;
  background-color: #3f1b52;
  padding: 0.25vh 1vh;
  border-radius: 0.75vh;
  color: #b344db;
  font-size: 2vh;
}

.buttonJoin {
  font-family: 'Poppins Black', sans-serif;
  color: #cecece;
  background-color: #2f2f2f;
  border: none;
  padding: 0.25vh 1.25vh;
  font-size: 2vh;
  border-radius: 0.75vh;
  cursor: pointer;
  transition: 0.1s;
}

.buttonJoin:hover {
  color: #e2e2e2;
  background-color: #383838;
}
