* {
  margin: 0;
  padding: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  min-height: 87vh;
  max-height: 87vh;
  overflow-y: auto;
  padding: 2vh;
  width: 58vw;
  scrollbar-width: none;
}

.chat::-webkit-scrollbar {
  display: none;
}

.clearContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.duck {
  width: 20vh;
}

.isClear {
  width: 20vh;
}
