* {
  margin: 0;
  padding: 0;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  min-height: 77vh;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2vh;
  width: 100%;
  scrollbar-width: 0.9vh;
}

.chat::-webkit-scrollbar {
  width: 0.9vh; /* Ширина полосы прокрутки */
}

/* Стили для ползунка (thumb) */
.chat::-webkit-scrollbar-thumb {
  background-color: #1d043694; /* Цвет ползунка (темно-фиолетовый) */
  border-radius: 1vh; /* Закругленные углы ползунка */
}

/* Стили для дорожки (track) */
.chat::-webkit-scrollbar-track {
  background-color: black;
}

.clearContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.duck {
  width: 20vh;
}

.isClear {
  width: 20vh;
}
