.container {
  background-color: #191919;
  border: #444444 solid 1px;
  border-radius: 2.5vh;
  width: 25vw;
  max-width: 25vw;
  height: 7vh;
  max-height: 7vh;
  display: flex;
  align-items: center;
  gap: 2vh;
  cursor: pointer;
  transition: 0.15s;
}

.container:hover {
  background-color: #222222;
}

.avatar {
  width: 5vh;
  margin-left: 2vh;
  border-radius: 100%;
  position: relative;
  z-index: -0;
}

.username {
  font-size: 2vh;
  color: white;
  font-family: serif 'FF Mark Black';
  font-weight: 800;
  white-space: nowrap; /* Запрещает перенос текста на новую строку */
  overflow: hidden; /* Обрезает текст, если он не помещается */
  text-overflow: ellipsis;
  width: 30vh;
}

.statusOnline {
  font-size: 1.45vh;
  color: rgb(69, 255, 48);
  font-family: serif 'FF Mark Black';
  font-weight: 500;
}
.statusOffline {
  font-size: 1.45vh;
  color: rgb(114, 114, 114);
  font-family: serif 'FF Mark Black';
  font-weight: 500;
}

.offlineStatus {
  width: 1.5vh;
  height: 1.5vh;
  background-color: #363636;
  border-radius: 100%;
  margin: -2vh 0 0 5.25vh;
  z-index: 1;
  position: relative;
}
.onlineStatus {
  width: 1.5vh;
  height: 1.5vh;
  background-color: #7ff964;
  box-shadow: 0 0 1vh rgb(9, 219, 9);
  border-radius: 100%;
  margin: -2vh 0 0 5.25vh;
  z-index: 1;
  position: relative;
}
