/* * {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.allPage {
  display: flex;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  align-items: center;
  justify-content: center;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.firstWelcomeText {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5vh;
}

.secondWelcomeText {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2vh;
}

.input {
  border: #4f4f4f solid 0.5px;
  outline: none;
  padding: 2vh 5vh;
  border-radius: 25px;
  color: white;
  background-color: #333333;
  font-weight: 100;
}

.loginButton {
  padding: 2vh 10.4vh;
  border: none;
  background-color: #ffffff;
  font-weight: 100;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.loginButton:hover {
  box-shadow: 0 0 3vh #ffffff6f;
}

.loginButton:active {
  background-color: rgb(225, 225, 225);
}

.register {
  text-decoration: underline;
  color: #c3c3c3;
  font-weight: 100;
  font-size: 1.5vh;
}

.error {
  color: #ff5b5b;
  font-weight: 100;
  font-size: 1.5vh;
  width: 30vh;
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.allPage {
  width: 100%;
  height: 100vh;
  display: flex;
}

.userInput {
  width: 60%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2vh;
  font-family: 'Jost ExtraLight', sans-serif;
  border-bottom: 1px solid white;
  margin-left: 7vw;
}

.passwordInput {
  width: 60%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2vh;
  font-family: 'Jost ExtraLight', sans-serif;
}

.userInput:-webkit-autofill,
.userInput:-webkit-autofill:hover,
.userInput:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}

.passwordInput:-webkit-autofill,
.passwordInput:-webkit-autofill:hover,
.passwordInput:-webkit-autofill:focus {
  font-family: 'Jost ExtraLight', sans-serif !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}

.passwordContainer {
  display: flex;
  border-bottom: 1px solid white;
  width: 60%;
  padding-right: 1.5%;
  margin-left: 7vw;
  justify-content: space-between;
}

.easy {
  color: #00db00;
  font-family: 'Jost ExtraLight', sans-serif;
}

.normal {
  color: orange;
  font-family: 'Jost ExtraLight', sans-serif;
}

.hard {
  color: rgb(255, 41, 41);
  font-family: 'Jost ExtraLight', sans-serif;
}

.welcomeText {
  font-family: 'Jost ExtraLight', sans-serif;
  color: white;
  font-size: 4vh;
  margin-left: 7vw;
}

.leftContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
}

.rightContainer {
  width: 60%;
}

.rightContainerImage {
  position: absolute;
  bottom: 0vh;
}

.register {
  font-family: 'Jost ExtraLight', sans-serif;
  font-size: 1.5vh;
  color: #898989;
  margin-left: 7vw;
  width: 10vw;
}

.arrowIcon {
  height: 2.1vh;
  margin-left: 0.2vh;
}

.hiddenArrowIcon {
  opacity: 0;
}

.passwordAndButtonDiv {
  display: flex;
  justify-content: start;
  gap: 0.5vw;
}

.error {
  color: #ff5b5b;
  font-weight: 100;
  font-size: 1.5vh;
  width: 30vh;
  margin-left: 7vw;
}

.visibilityContainer {
  display: flex;
  align-items: center;
  margin-left: 7vw;
  gap: 0.5vw;
}

.visibilityText {
  color: white;
  font-family: 'Jost ExtraLight', sans-serif;
}

.checkbox {
  width: 2vh;
  height: 2vh;
  border: 1px solid white;
  cursor: pointer;
}

.checkboxChecked {
  width: 2vh;
  height: 2vh;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}

.checkboxChecked::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: white;
}

.continueButton {
  border: none;
  height: 4.5vh;
  width: 60%;
  margin-left: 7vw;
  font-family: 'Jost ExtraLight', sans-serif;
  font-size: 1.75vh;
  cursor: pointer;
  transition: ease 0.2s;
}

.leftContainerAvatar {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
  align-items: center;
}

.welcomeTextAvatar {
  font-family: 'Jost ExtraLight', sans-serif;
  color: white;
  font-size: 4vh;
  transition: ease 0.2s;
}

.welcomeTextAvatar:hover {
  letter-spacing: 0.1vh;
}

.userAvatar {
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  box-shadow: 0 0 5vh rgba(255, 255, 255, 0.358);
}

.userInputAvatar {
  width: 60%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 2vh;
  font-family: 'Jost ExtraLight', sans-serif;
  border-bottom: 1px solid white;
}

.continueButtonAvatar {
  border: none;
  height: 4.5vh;
  width: 60%;
  font-family: 'Jost ExtraLight', sans-serif;
  font-size: 1.75vh;
  cursor: pointer;
  transition: ease 0.2s;
}

.loginButton {
  border: none;
  height: 4.5vh;
  width: 60%;
  margin-left: 7vw;
  font-family: 'Jost ExtraLight', sans-serif;
  font-size: 1.75vh;
  cursor: pointer;
  transition: ease 0.2s;
  background-color: white;
  color: black;
}

.hiddenLoginButton {
  background-color: #565656;
  border: none;
  height: 4.5vh;
  width: 60%;
  margin-left: 7vw;
  font-family: 'Jost ExtraLight', sans-serif;
  font-size: 1.75vh;
  cursor: pointer;
  transition: ease 0.2s;
  color: #1b1b1b;
}
