* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.allPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #161616;
}

.userInput {
  width: 31.52vh;
  background-color: #272727;
  padding: 1.106vh 2.286vh;
  border: none;
  border-radius: 2vh;
  outline: none;
  color: white;
  font-size: 1.466vh;
  font-family: 'Be Vietnam Light', serif;
}

.userInput:-webkit-autofill,
.userInput:-webkit-autofill:hover,
.userInput:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}

.logoAndNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  width: 100%;
}

.lynkText {
  font-family: 'Benzin SemiBold', sans-serif;
  color: white;
  font-size: 2.933vh;
}

.lynkLogo {
  width: 5.166vh;
  height: 5.166vh;
}

.navigationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.51vh;
}

.loginLink {
  font-size: 1.6vh;
  background-color: transparent;
  border: none;
  font-family: 'Be Vietnam Bold', sans-serif;
  border-bottom: 1.5px solid transparent;
  cursor: pointer;
  transition: 0.15s;
}

.registerLink {
  font-size: 1.6vh;
  background-color: transparent;
  border: none;
  font-family: 'Be Vietnam Bold', sans-serif;
  border-bottom: 1.5px solid #288df4;
  cursor: pointer;
}

.loginLink:hover {
  border-bottom: 1.5px solid #288ef482;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.66vh;
  width: 41.3vh;
  height: 45.2%;
  border-radius: 1.773vh;
  margin-left: 15vh;
  background-color: #1b1b1b;
}

.error {
  color: #ff5b5b;
  font-weight: 100;
  font-size: 1.5vh;
  width: 30vh;
  margin-left: 7vw;
}

.showPasswordButton {
  position: absolute;
  left: 47.775vh;
  bottom: 40.96vh;
  width: 3.246vh;
  height: 3.246vh;
  background-color: #333333;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.showPasswordIcon {
  margin-top: 3.1px;
  width: 1.846vh;
}

.showPasswordButtonChecked {
  position: absolute;
  left: 47.775vh;
  bottom: 40.96vh;
  width: 3.246vh;
  height: 3.246vh;
  background-color: #3a3a3a;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.leftContainerAvatar {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
  align-items: center;
}

.welcomeTextAvatar {
  font-family: 'Jost ExtraLight', sans-serif;
  color: white;
  font-size: 2.66vh;
  transition: ease 0.2s;
}

.welcomeTextAvatar:hover {
  letter-spacing: 0.1vh;
}

.userAvatar {
  height: 14vh;
  width: 14vh;
  border-radius: 100%;
}

.loginButton {
  border: none;
  border-radius: 3vh;
  height: 4vh;
  width: 31.52vh;
  font-family: 'Be Vietnam Bold', sans-serif;
  font-size: 1.6vh;
  cursor: pointer;
  transition: 0.15s;
  background-color: #45a1ff;
  color: white;
}

.hiddenLoginButton {
  border: none;
  border-radius: 3vh;
  height: 4vh;
  width: 31.52vh;
  font-family: 'Be Vietnam Bold', sans-serif;
  font-size: 1.6vh;
  cursor: pointer;
  transition: 0.15s;
  background-color: #2966a3;
  color: rgb(173, 173, 173);
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.286vh;
}
