.separator {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #ac4bd2;
  margin: 2vh 0;
  font-family: 'Jost ExtraLight', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2vh;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #482064;
}
