* {
  margin: 0;
  padding: 0;
}

.friendContainer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: center;
  border: 1px solid #363636ad;
  box-shadow: 0 0 4vh #fffdff1e;
  border-radius: 2vh;
  cursor: pointer;
  position: absolute;
  width: 18vh;
  height: 21vh;
  backface-visibility: hidden;
  overflow: hidden;
  perspective: 1000px;
  transition: transform 0.1s ease;
  will-change: transform;
  overflow: hidden;
  position: relative;
  border-radius: 2vh;
}

.friendContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background: radial-gradient(
    circle at var(--glare-x, 50%) var(--glare-y, 50%),
    rgba(255, 255, 255, 0.138),
    transparent 60%
  );
  opacity: var(--glare-opacity, 0);
  pointer-events: none;
  transition: opacity 0.2s, background 0.1s;
}

.avatarOnline {
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  position: relative;
  z-index: -0;
  box-shadow: 0 0 5vh #ffffff77;
  transition: 0.2s ease;
}

.avatarOnline:hover {
  box-shadow: 0 0 5vh #ffffff87;
  transform: scale(1.04);
}

.friendUsername {
  font-family: 'Jost Bold', sans-serif;
  font-size: 2.3vh;
  transition: 0.2s ease;
}

.friendUsername:hover {
  letter-spacing: 0.1vh;
}
