* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.allPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #161616;
}

.userInput {
  width: 47.29vh;
  background-color: #272727;
  padding: 1.66vh 3.43vh;
  border: none;
  border-radius: 3vh;
  outline: none;
  color: white;
  font-size: 2.2vh;
  font-family: 'Be Vietnam Light', serif;
}

.userInput:-webkit-autofill,
.userInput:-webkit-autofill:hover,
.userInput:-webkit-autofill:focus {
  font-family: 'Jost ExtraLight', sans-serif !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}

.logoAndNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.55vh;
  width: 100%;
}

.lynkText {
  font-family: 'Benzin SemiBold', sans-serif;
  color: white;
  font-size: 4.4vh;
}

.lynkLogo {
  width: 7.75vh;
  height: 7.75vh;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5.5vh;
  width: 62vh;
  height: 67.8%;
  border-radius: 2.66vh;
  margin-left: 9vh;
  background-color: #1b1b1b;
}

.navigationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.76vh;
}

.loginLink {
  font-size: 2.21vh;
  background-color: transparent;
  border: none;
  font-family: 'Be Vietnam Bold', sans-serif;
  border-bottom: 2px solid #288df4;
  cursor: pointer;
}

.registerLink {
  font-size: 2.21vh;
  background-color: transparent;
  border: none;
  font-family: 'Be Vietnam Bold', sans-serif;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.15s;
}

.registerLink:hover {
  border-bottom: 2px solid #288ef482;
}

.loginButton {
  border: none;
  border-radius: 3vh;
  height: 6vh;
  width: 47.29vh;
  font-family: 'Be Vietnam Bold', sans-serif;
  font-size: 2.21vh;
  cursor: pointer;
  transition: 0.15s;
  background-color: #45a1ff;
  color: white;
}

.hiddenLoginButton {
  border: none;
  border-radius: 3vh;
  height: 6vh;
  width: 47.29vh;
  font-family: 'Be Vietnam Bold', sans-serif;
  font-size: 2.21vh;
  cursor: pointer;
  transition: 0.15s;
  background-color: #2966a3;
  color: rgb(173, 173, 173);
}

.arrowIcon {
  height: 2.1vh;
  margin-left: 0.2vh;
}

.hiddenArrowIcon {
  opacity: 0;
}

.passwordAndButtonDiv {
  display: flex;
  justify-content: start;
  gap: 0.5vw;
}

.error {
  color: #ff5b5b;
  font-weight: 100;
  font-size: 1.5vh;
  width: 30vh;
  margin-left: 7vw;
}

.visibilityContainer {
  display: flex;
  margin-left: 7vw;
  align-items: center;
  gap: 0.5vw;
}

.visibilityText {
  color: white;
  font-family: 'Jost ExtraLight', sans-serif;
}

.showPasswordButton {
  position: absolute;
  left: 36.55%;
  bottom: 36.57%;
  width: 4.87vh;
  height: 4.87vh;
  background-color: #333333;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.showPasswordIcon {
  margin-top: 3px;
  width: 2.77vh;
}

.showPasswordButtonChecked {
  position: absolute;
  left: 36.55%;
  bottom: 36.57%;
  width: 4.87vh;
  height: 4.87vh;
  background-color: #3a3a3a;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.43vh;
}
