.allInteraction {
  width: 100%;
  max-height: 13.5vh;
  position: absolute;
  bottom: 1vh;
  width: 95%;

  border-radius: 2vh;
  overflow: hidden;
  z-index: 10;
  isolation: isolate;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.479);
  border: 1px solid rgba(255, 255, 255, 0.172);
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.044);
}

.allInteraction::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  border-radius: 2vh;

  filter: url(#glass-distortion);
}

/* .allInteractionWithout {
  width: 100%;
  max-height: 7vh;
  bottom: 0;
  position: absolute;
} */

.allInteractionWithout {
  position: absolute;
  bottom: 1vh;
  width: 95%;
  max-height: 7vh;
  border-radius: 2vh;
  overflow: hidden;
  z-index: 10;
  isolation: isolate;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.479);
  border: 1px solid rgba(255, 255, 255, 0.172);
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.044);
}

.allInteractionWithout::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  border-radius: 2vh;

  filter: url(#glass-distortion);
}

.container {
  gap: 0.15vw;
  /* margin-top: -3vh; */
  width: 100%;
  height: 7vh;
  font-size: 2vh;
  resize: none;
  overflow-y: hidden;
  outline: none;

  z-index: 10;
}

.input {
  font-family: 'Jost Regular', sans-serif;
  padding: 2vh 0 0 1vh;
  margin-left: 0.3vw;
  width: 94%;

  min-height: 7vh;

  font-size: 2vh;
  resize: none;
  overflow-y: auto;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  z-index: 10;
}

.sendButton {
  position: absolute;
  z-index: 11;
  width: 5vh;
  right: 0.55vw;
  bottom: 1vh;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 1vh;
  border-radius: 100%;
}

.reply {
  display: flex;
  color: white;
  padding: 0.5vw 1vh;
  min-width: 45px;
  width: 100%;
  height: 6vh;
}

.replyUsername {
  font-family: 'Jost ExtraLight', sans-serif;
  font-size: 1.7vh;

  font-weight: 500;
  font-style: normal;
  color: rgb(182, 182, 182);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.replyMessageUsername {
  font-family: 'Jost Regular', sans-serif;
  font-size: 1.7vh;

  font-weight: 500;
  font-style: normal;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.replyText {
  font-size: 1.7vh;
  font-family: 'Jost ExtraLight', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
  width: 65vw;
}

.replyButton {
  border: none;
  background-color: black;
  font-weight: 100;
  padding: 0.4vh;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 0.25vh;
}

.closeIcon {
  width: 2vh;
}
