.container {
  width: 60vw;

  display: flex;
  justify-content: center;

  padding: 2vh;
}

.input {
  margin-top: -3vh;
  width: 60vw;
  max-height: 8vh;
  min-height: 8vh;
  padding: 1.5vh;
  border-radius: 20px;
  border: #444444 solid 1px;
  font-size: 2vh;
  resize: none;
  overflow-y: auto;
  outline: none;
  background-color: #1d1d1d;
  color: white;
}
