.container {
  gap: 0.15vw;
  /* margin-top: -3vh; */
  width: 60vw;
  max-height: 8vh;
  min-height: 8vh;
  padding: 1.5vh;
  border-radius: 2.5vh;
  border: #444444 solid 1px;
  font-size: 2vh;
  resize: none;
  overflow-y: none;
  outline: none;
  background-color: #1d1d1d;
  z-index: 10;
}

.input {
  margin-left: 0.3vw;
  width: 94%;
  padding-bottom: 0.5vh;
  max-height: 6.25vh;
  min-height: 6.25vh;
  font-size: 2vh;
  resize: none;
  overflow-y: auto;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  z-index: 10;
}

.emojiButton {
  position: absolute;
  z-index: 11;
  width: 4vh;
  right: 7vw;
  bottom: 3.6vh;
  cursor: pointer;
}

.reply {
  background-color: rgb(78, 78, 78);
  color: white;
  padding: 0.5vw 1vh;
  border-radius: 1.75vh;
  min-width: 45px;
  width: 6vw;
  height: 8vh;
  margin-top: -3vh;
}

.replyUsername {
  font-size: 1.6vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.replyText {
  font-size: 1.35vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #afafaf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.replyButton {
  background-color: transparent;
  border: #ffffff0f solid 1px;
  color: #989898;
  font-weight: 100;
  padding: 0.4vh;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 0.25vh;
}

.closeIcon {
  width: 2vh;
}
