.container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.75vh;
  width: 10vw;
  padding: 1vh;
  border-radius: 1vh;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0.4vh;
  cursor: pointer;
  font-size: 2vh;
  transition: 0.3s;
}

.icon {
  transition: filter 0.1s ease;
}

.icon:hover {
  filter: brightness(2);
}
