.avatarContainer {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 12vh;
  height: 12vh;
  border-radius: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
  border: 2px solid transparent;
}

.avatarActive {
  width: 12vh;
  height: 12vh;
  border-radius: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
  border: 2px solid #ae00ff96;
}

.wave1 {
  position: absolute;
  width: 7vh;
  height: 7vh;
  background-color: rgba(0, 145, 255, 0.502);
  filter: blur(3vh);
  border-radius: 100%;
  animation: wave 4s infinite ease-in-out;
}

.wave2 {
  position: absolute;
  left: 5vh;
  top: 1vh;
  width: 8vh;
  height: 8vh;
  background-color: rgba(4, 0, 255, 0.681);
  filter: blur(3vh);
  border-radius: 100%;
  animation: wave 6s infinite ease-in-out;
}

.wave3 {
  position: absolute;
  left: 4vh;
  top: 4vh;
  width: 8vh;
  height: 8vh;
  background-color: rgba(255, 0, 204, 0.545);
  filter: blur(3vh);
  border-radius: 100%;
  animation: wave 6 5s infinite ease-in-out;
}

.wave4 {
  position: absolute;
  top: 5vh;
  width: 8vh;
  height: 8vh;
  background-color: rgba(140, 0, 255, 0.559);
  filter: blur(3vh);
  border-radius: 100%;
  animation: wave 3s infinite ease-in-out;
}

.boxWave1 {
  position: absolute;
  top: -10vh;
  width: 20vh;
  height: 20vh;
  background-color: rgba(0, 145, 255, 0.384);
  filter: blur(10vh);
  border-radius: 100%;
  animation: wave 4s infinite ease-in-out;
}

.boxWave2 {
  position: absolute;
  left: 18vh;
  top: -10vh;
  width: 20vh;
  height: 20vh;
  background-color: rgba(4, 0, 255, 0.36);
  filter: blur(10vh);
  border-radius: 100%;
  animation: wave 6s infinite ease-in-out;
}

.boxWave3 {
  position: absolute;
  left: -2vh;
  top: 5vh;
  width: 20vh;
  height: 20vh;
  background-color: rgba(255, 0, 204, 0.435);
  filter: blur(10vh);
  border-radius: 100%;
  animation: wave 6 5s infinite ease-in-out;
}

.boxWave4 {
  position: absolute;
  top: 6vh;
  left: 22vh;
  width: 20vh;
  height: 20vh;
  background-color: rgba(140, 0, 255, 0.375);
  filter: blur(10vh);
  border-radius: 100%;
  animation: wave 3s infinite ease-in-out;
}

@keyframes wave {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.outline {
  position: absolute;
  border-radius: 100%;
  left: -0.5vh;
  top: -0.5vh;
  width: 13vh;
  height: 13vh;
  animation: outline 0.7s infinite;
}

@keyframes outline {
  0% {
    border: 2px solid #a40afd00;
  }
  50% {
    border: 2px solid #a40afd54;
  }
  100% {
    border: 2px solid #a40afd00;
  }
}

.userContainer {
  width: 20vh;
  height: 20;
}

.boxAvatarContainer {
  overflow: hidden;
  width: 38vh;
  aspect-ratio: 16/9;
  border-radius: 1vh;
  border: 1px solid rgb(102, 102, 102);
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxAvatarBackground {
  width: 40vh;
  aspect-ratio: 16/9;
  filter: blur(1.25vh) brightness(30%);
}

.boxAvatarImage {
  position: absolute;
  width: 13vh;
  height: 13vh;
  border-radius: 100%;
  box-shadow: 0 0 10vh #ffffffd1;
}

.camera {
  width: 38vh;
  aspect-ratio: 16/9;
  border-radius: 1vh;
  border: 2px solid transparent;
  z-index: 10;
  position: relative;
}

.cameraActive {
  width: 38vh;
  aspect-ratio: 16/9;
  border-radius: 1vh;
  border: 2px solid #ae00ff96;
  z-index: 10;
  position: relative;
}

.mutedIconWrapper {
  position: absolute;
  z-index: 11;
  background-color: #a40afd;
  width: 4.65vh;
  height: 4.65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: -4.5vh 0 0 8.2vh;
}

.mutedIconWrapperBox {
  position: absolute;
  z-index: 11;
  background-color: #a40afd;
  width: 4.65vh;
  height: 4.65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 9.5vh 0 0 7.8vh;
}

.mutedIconWrapperCam {
  position: absolute;
  z-index: 11;
  background-color: #0000005b;
  width: 4.2vh;
  height: 4.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: -5.05vh 0 0 32vh;
}

.mutedIcon {
  width: 2.35vh;
}

.mutedIconCam {
  width: 1.7vh;
  opacity: 70%;
}
