.container {
  position: absolute;
  top: 7vh;
  background-color: #191919;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35vh;
  border-radius: 2vh;
  border: #444444 solid 1px;
  max-height: 20vh;
  overflow-y: auto;
  max-width: 15vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.35vw;
  color: white;
  font-family: serif 'FF Mark Black';
  font-weight: 100;
  white-space: nowrap;
}

.onlineCircle {
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 100%;
  background-color: #7ff964;
}
