html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}

@font-face {
  font-family: 'Poppins Black';
  src: url('/public/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('/public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('/public/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('/public/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'FF Mark Black';
  src: url('/public/fonts/FF-Mark/MarkPro-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Jost Bold';
  src: url('/public/fonts/Jost-Font/Jost-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Jost ExtraBold';
  src: url('/public/fonts/Jost-Font/Jost-ExtraBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Jost ExtraLight';
  src: url('/public/fonts/Jost-Font/Jost-ExtraLight.ttf') format('opentype');
}

@font-face {
  font-family: 'Jost Regular';
  src: url('/public/fonts/Jost-Font/Jost-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Jost Thin';
  src: url('/public/fonts/Jost-Font/Jost-Thin.ttf') format('opentype');
}
