* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container {
  position: relative; /* <-- добавлено */
  display: flex;
  flex-direction: column;
  gap: 1vh;
  background-color: #272727;

  min-width: 5%;
  max-width: 40%;

  padding: 1.4vh 1.5vh 1.25vh 1.5vh;
  border-radius: 2vh;

  width: fit-content;

  /* Чтобы выравнивать текст слева, а время справа */
  align-items: flex-start;
}

.text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.75vh;
  white-space: pre-wrap;

  /* Гарантирует, что текст будет занимать всю доступную ширину */
  word-wrap: normal;
  overflow-wrap: anywhere;
}

.username {
  color: #9d9d9d;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2vh;
  margin-left: 1.5vh;
  margin-bottom: 0.25vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.timestamp {
  font-size: 1.5vh;
  color: #818181;
  font-family: 'Poppins', sans-serif;
  align-self: flex-end;

  /* Меньше прозрачности, чтобы не отвлекать внимание */
  font-weight: 300;
}

.reply {
  background-color: rgba(240, 240, 240, 0.174);
  color: white;
  padding: 0.5vw 1vh;
  border-radius: 1vh;
  width: 100%;
}

.replyUsername {
  font-size: 1.6vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.replyText {
  font-size: 1.35vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #dedede;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.interactionContainer {
  position: absolute;
  top: -11.75vh;
  left: 100%; /* Меню появится справа от сообщения */
  margin-left: -16.5vh; /* Отступ от сообщения */
  z-index: 0;
}
