.container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  background-color: #424242;

  min-width: 5%;
  max-width: 40%;

  padding: 1.5vh 2vh 1.5vh 2vh;
  border-radius: 20px;

  word-wrap: break-word;
  overflow-wrap: break-word;

  width: fit-content;

  margin: 0 1vh 0 auto;

  /* Добавим, чтобы текст и время красиво прижимались вниз */
  align-items: flex-end;
}

.text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.75vh;
  white-space: pre-wrap;

  align-self: flex-start; /* Текст выравнивается влево */

  word-wrap: normal;
  overflow-wrap: anywhere;
}

.timestamp {
  font-size: 1.5vh;
  color: #909090;
  font-family: 'Poppins', sans-serif;
  align-self: flex-end; /* Время прижимается вправо */
}

.textarea {
  width: 10vw;
  height: 7.5vh;
  resize: none;
  background-color: #424242;
  border: #666666 solid 1px;
  border-radius: 1vh;
  padding: 1vh;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  outline: none;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.reply {
  background-color: rgba(240, 240, 240, 0.174);
  color: white;
  padding: 0.5vw 1vh;
  border-radius: 0.75vh;
  width: 100%;
}

.replyUsername {
  font-size: 1.6vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.replyText {
  font-size: 1.35vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #dedede;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
