* {
  font-family: 'Jost Regular', sans-serif;
}

.allMessage {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  padding: 1vh 2vh;
  border-radius: 0.7vh;
}

.container {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: end;

  flex-direction: column;
  gap: 0.5vh;

  min-width: 100%;
  max-width: 100%;

  padding: 1.5vh 2vh;
  border-radius: 2vh;

  word-wrap: break-word;
  overflow-wrap: break-word;

  width: fit-content;

  margin: 0 1vh 1vh auto;

  align-items: flex-end;
}

.username {
  color: #b4b4b4;
  font-size: 1.8vh;
  display: flex;
  align-items: center;
  font-family: 'Jost Regular', sans-serif;
}

.userIcon {
  margin-top: 0.2vh;
  width: 6vh;
  height: 6vh;
  padding: 0.4vh;
  border: 0.2vh solid #9927ea;
  border-radius: 100%;
}

.text {
  color: white;
  font-family: 'Jost ExtraLight', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2.1vh;
  white-space: pre-wrap;
  max-width: 70%;

  align-self: flex-end; /* Текст выравнивается влево */

  word-wrap: normal;
  overflow-wrap: anywhere;
}

.rainbowText {
  font-family: 'Jost ExtraLight', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2.1vh;
  white-space: pre-wrap;
  max-width: 70%;

  align-self: flex-end;
  word-wrap: normal;
  overflow-wrap: anywhere;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    rgb(0, 119, 255),
    rgb(142, 1, 243),
    red,
    orange,
    yellow,
    green
  );
  background-size: 300% 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbow-gradient 2s linear infinite;
}

@keyframes rainbow-gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.textarea {
  font-family: 'Jost ExtraLight', sans-serif;
  width: 15vw;
  min-height: 2vh;
  padding: 0.5vh;
  resize: none;
  background-color: #020202;
  border: #1b1b1b solid 1px;
  border-radius: 0.5vh;
  font-size: 2.1vh;

  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  outline: none;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.reply {
  position: relative; /* Устанавливаем относительное позиционирование */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5vh;
  background-color: #2a0441;
  padding: 0.25vh 0.85vh 0.25vh 0.5vh;
  border-radius: 0.5vh;
  color: #9927ea;
  cursor: default;
}

.reply::after {
  right: 0.1vh;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.3vh;
  background-color: #9927ea;
  border-top-right-radius: 0.5vh;
  border-bottom-right-radius: 0.5vh;
}

.replyText {
  font-family: 'Jost Regular', sans-serif;
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.interactionContainer {
  position: absolute;
  bottom: -3vh;
  right: -1vw;
}
