.firstContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  width: 70vw;
  height: 70vh;
  background-color: rgba(4, 4, 4, 0.048);
  backdrop-filter: blur(3px);
  border: 1px solid #ffffff15;
  box-shadow: inset 0 0 10vh #ffffff17;
  gap: 2.75vh;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 67.5vw;
  height: 15vh;
  margin: 2vh 0 0 0;
  border-radius: 1vh;
  object-fit: cover;
  object-position: center;
}

.avatarAndInfoContainer {
  display: flex;
  gap: 1.25vw;
  width: 60vw;
}

.avatar {
  width: 22vh;
  height: 22vh;
  border-radius: 100%;
  transition: 0.2s ease;
}

.avatar:hover {
  box-shadow: 0 0 5vh rgba(255, 255, 255, 0.28);
  transform: scale(1.02);
}

.infoAndButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.nicknameAndStatusContainer {
  margin-left: 2vh;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.nickname {
  font-size: 7vh;
  font-family: 'Jost Bold', sans-serif;
  transition: 0.2s ease;
}

.nickname:hover {
  text-shadow: 0 0 5vh rgba(255, 255, 255, 0.29);
  letter-spacing: 0.15vh;
}

.indicatorAndStatusContainer {
  display: flex;
  align-items: center;
  gap: 0.35vw;
  margin-top: 1.4vh;
}

.indicatorAndStatusContainer:hover {
  .onlineIndicator {
    box-shadow: 0 0 1vh #05ff058d;
  }
  .onlineStatus {
    text-shadow: 0 0 2vh #72f07ca6;
  }
}

.onlineIndicator {
  width: 1vh;
  height: 1vh;
  background-color: #72f07c;
  border-radius: 100%;
  transition: 0.2s ease;
}

.onlineStatus {
  font-size: 2.5vh;
  font-family: 'Jost Regular', sans-serif;
  color: #72f07c;
  transition: 0.2s ease;
}

.buttonsContainer {
  display: flex;
  gap: 0.5vw;
}

.button {
  background-color: transparent;
  padding: 0.2vh 1.5vh;
  border: none;
  border-radius: 1vh;
  font-family: 'Jost Regular', sans-serif;
  font-size: 2.75vh;
  color: #bababa;
  transition: 0.1s ease;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(44, 44, 44, 0.316);
  color: #f3f3f3;
}

.deleteButton {
  background-color: transparent;
  padding: 0.2vh 1.5vh;
  border: none;
  border-radius: 1vh;
  font-family: 'Jost Regular', sans-serif;
  font-size: 2.75vh;
  color: #ce4444;
  transition: 0.1s ease;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgba(81, 0, 0, 0.316);
  color: #e92e2e;
}

.userDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60vw;
  gap: 1.5vh;
}

.userDescriptionTitle {
  font-family: 'Jost Regular', sans-serif;
  font-size: 3.25vh;
  color: #9f9f9f;
  transition: 0.2s ease;
}

.userDescriptionTitle:hover {
  color: #d6d6d6;
}

.userDescriptionSubtitle {
  font-family: 'Jost Regular', sans-serif;
  font-size: 2.5vh;
  color: #9f9f9f;
  transition: 0.2s ease;
}

.userDescriptionSubtitle:hover {
  color: #d6d6d6;
}
